*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Dark-Blue: hsl(217, 28%, 15%);
    --Dark-Blue-main: hsl(218, 28%, 13%);
    --Dark-Blue-footer: hsl(216, 53%, 9%);
    --Dark-Blue-testimonials: hsl(219, 30%, 18%);
    /*Accent*/
    --Cyan: hsl(176, 68%, 64%);
    --Blue: hsl(198, 60%, 50%);
    --White: hsl(0, 0%, 100%);
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: var(--Dark-Blue-main);
    line-height: 1.5;
}

img{
    max-width: 100%;
}

.m--b-2{
    margin-bottom: 2rem;
}

.m--b-1{
    margin-bottom: 1rem;
}

.m--b-6{
    margin-bottom: 6rem;
}

/*
    ====== BLOCK =======
*/

.block{
    /* width: 320px; */
    width: 89.8486%;
    /* max-width: 300px; */
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

.block--align-center{
    text-align: center;
}

.block__title{
    /* font-size: 22px; */
    /* font-size: 1.37em; */
    color: #fff;
    font-weight: 700;
}

.block__title--h2{
    font-size: 1.17em;
}

.block__text{
    color: rgba(255,255,255,.8);
}

.btn{
    font-size: 16px;
    padding: 1em;
    border: none;
    outline: 0;
    color: #fff;
    background-image: linear-gradient(to right,var(--Cyan),var(--Blue));
    border-radius: 25px;
    transition: transform 500ms ease;
    cursor: pointer;
}

.btn:hover{
    animation-name: btnright;
    animation-duration: 500ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    /* animation-fill-mode: forwards; */
    animation-timing-function: ease;
    
}

@keyframes btnright{
    from{
        background-position-x: -500px;
    }
    to{
        background-position-x: 0px;
    }
}

.btn:active{
    transform: scale(1.1) rotate(360deg);
}

.btn--center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.header{
    /* border: solid 1px peru; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--Dark-Blue-main);
}

.header__content{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img{
    height: 27px;
}

.header__list{
    list-style: none;
    display: flex;
}

.header__item{
    margin-right: 1.5rem;
}

.header__item:last-child{
    margin-right: 0;
}

.header__link{
    color: rgba(255, 255, 255, 0.657);
    text-decoration: none;
}

/*
    ===== PORTADA ======
*/

.portada{
    margin-top: 110px;
}

.portada__img{
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 3rem;
}

.portada__title{
    font-size: 22px;
}

.portada__btn{
    width: 245px;
}


/*
    ====Info====
*/


/*
    ====CARD====
*/
.card__img-content{
    display: flex;
    justify-content: center;
}

.card__item{
    margin-bottom: 6rem;
}

/*
    ====STAY-PRODUCTIVE===
*/
.stay-productive{
    margin-bottom: 7rem;
}

.stay-productive__img{
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    display: block;
}


/*
    ====LINK====
*/
.link{
    --b: var(--Cyan); 
    color: var(--b);
    display: flex;
    justify-content: flex-start;
}

.link__content{
    display: flex;
    align-items: center;
    line-height: 0;
    border-bottom: solid 1px var(--b);
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.link__img{
    margin-left: .3rem;
}

/*
    =====Comments=====
*/

.comments{
    color: rgba(255, 255, 255, 0.657);
    margin-bottom: 20rem;
}

.comments__content{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    background-image: url('../images/bg-quotes.png');
    background-repeat: no-repeat;
    background-position: 2.3rem .7rem;
    background-size: 30px;
    /* background-clip: content-box; */
}

.comments__item{
    box-shadow: 0 0 20px 1px rgba(0,0,0,.2);
    padding: 1.5rem;
    margin-bottom: 2rem;
    background-color: var(--Dark-Blue-testimonials);
    border-radius: 5px;
}

.comments__description{
    font-size: 11px;
}

.comments__img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: .3rem;
}

.comments__details{
    display: inline-block;
    font-size: .9rem;
}

.comments__username{
    color: #fff;
}

.comments__work{
    font-size: .68em;
}

/*
    ===== Contact =====
*/

.footer{
    background-color: var(--Dark-Blue-footer);
    /* height: 500px; */
}

.footer__content{
    position: relative;
}

.footer__contact{
    position: absolute;
    left: 50%;
    top: 0;
    width: 100%;
    transform: translate(-50%,-50%);
}

.contact__content{
    border: solid 1px var(--Dark-Blue-footer);
    padding: 1.9rem 1rem;
    border-radius: 10px;
    background-color: var(--Dark-Blue);
    box-shadow: 5px  5px 10px 1px var(--Dark-Blue-footer);
}   

.contact__email{
    border-radius: 25px;
    padding: 1.2em 1.8em;
    background-color: #fff;
    border: none;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1.5rem;
    outline: 0;
}

.contact__btn{
    width: 85%;
}

.footer__creditos{
    padding-top: 15rem;
    padding-bottom: 2rem;
}

.footer__img-logo{
    margin-bottom: 3rem;
}

.list{
    list-style: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

.list--m--b-5{
    margin-bottom: 5rem;
}

.list__item{
    display: flex;
    margin-bottom: 1.5rem;
}

.list__item--mb--0{
    margin-bottom: 0;
}

.list--mb--0{
    margin-bottom: 0;
}

.list__item:last-child{
    margin-bottom: 0;
}

.list__icon{
    margin-right: 1rem;
    font-size: 16px;
    height: 20px;
    flex: 0 0 20px;
}

.list__icon--border{
    border: solid 1px #fff;
    border-radius: 50%;
}

.list__icon--w--md{
    font-size: .75rem;
    width: 30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list__link{
    text-decoration: none;
    color: inherit;
}

.list__link:hover{
    text-decoration: underline;
}

.list--r--center{
    flex-direction: row;
    justify-content: center;
}

@media screen and (min-width: 1440px){

    body{
        font-size: 16px;
    }

    .m--b-1{
        margin-bottom: 1.3rem;
    }

    .m--b-2{
        margin-bottom: 2.3rem;
    }

    .m--b-6{
        margin-bottom: 10rem;
    }

    .portada__content{
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

    .header__item{
        margin-right: 2.5rem;
    }

    .portada__img{
        width: 100%;
    }

    .portada__block{
        width: 100%;
    }

    .portada__title{
        font-size: 36px;
    }

    .portada__text{
        font-size: 19px;
        width: 87%;
        margin-left: auto;
        margin-right: auto;
    }

    /*
        == CARD ==
    */

    .info__content{
        display: flex;
        justify-content: center;
    }

    .info__cards{
        max-width: 85%;
    }

    .card{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .card__item{
        flex: 0 0 348px;
    }

    .card__img{
        height: 5rem;
    }

    .card__block{
        width: 100%;
    }

    /*
        ===stay-productive===
    */

    .stay-productive__content{
        display: flex;
    }

    .stay-productive__img{
        flex: 0 0 615px;
        margin-bottom: 0;
        margin-right: 2rem;
    }

    .stay-productive__body{
        flex: 1 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stay-productive__title{
        font-size: 34px;
        max-width: 350px;
    }

    /*
        === Comments ===
    */

    .comments__content{
        display: flex;
    }

    .comments__item{
        margin-right: 2rem;
        margin-bottom: 0;
        flex: 1 0 0;
    }

    .comments__item:last-child{
        margin-right: 0;
    }

    .comments__description{
        font-size: .9rem;
    }

    /*
        ===CONTACT===
    */
    .contact{
        display: flex;
        justify-content: center;
    }

    .contact__content{
        width: 70%;
        padding: 2.5rem 5rem;
    }

    .contact__title{
        font-size: 30px;
    }

    .contact__form{
        display: flex;
    }

    .contact__email{
        flex: 0 0 65%;
        margin-right: 1rem;
        margin-bottom: 0;
    }

    .contact__btn{
        flex: 1 0 0;
    }

    .footer__list{
        display: flex;
    }

    .list{
        margin-bottom: 0;
    }

    .footer__left{
        display: flex;
        flex: 0 0 600px;
        margin-right: 8rem;
    }

    .footer__location{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__location > .list__item{
        flex:  0 0 60%;
    }

    .list__group{
        flex: 0 0 30%;
    }

    .footer__right{
        display: flex;
        flex: 1 0 0;
        justify-content: space-between;
    }

}

